.header {
  width: 500px;
  height: 600px;
  background-color: rgb(208, 230, 207);
  background-image: url(../img/sava-bobov-AYmUgOqRoGA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.big-section {
    height: 1080px;
    background-image: url(../img/sava-bobov-AYmUgOqRoGA-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    
}