h1 {
    color: red;
}

div {
    color: #14bb14;
}

p {
    color: rgb(200, 25, 12)
}

li {
    color: rgba(255, 0, 0, 0.5);
}

section {
    color: blue;
}

.div-two {
    color: rgb(75, 114, 94);
}

#section-id {
    color :cyan;
}

footer div {
    color: darkorange;
}

nav, h3 {
    font-size: 40px;
}

.nav-class {
    font-size: 90px;
}

footer .footer-h3 {
    font-size: 100px;
}