@import url(../node_modules/normalize.css/normalize.css);

.vh {
    height: 60vw;
    width: 60vh;
    background-color: black;
}

.vminvmax {
    height: 30vmax;
    width: 40vmin;
    background-color: green;

}