@import url(reset.css);

.flex-container {
    height: 700px;
    background-color: blue;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-end;
}

.flex-item {
    height: 100px;
    width: 400px;
    background-color: orange;

}

